* { padding: 0; margin: 0; }
html, body, #fullheight {
  min-height: 100% !important;
  height: 100%;
}
.container{
    height: 100%;
    width: 100%;
    margin: 0px 0px 0px 200px;
    align-items: flex-start;
    display: flex;
  }
.button1{
    background-color: aqua;
    border-color: aquamarine;
    margin: 0px 0px 0px 40px;
    cursor: pointer;
    transition: all .1s linear;
    position:absolute; z-index: 6;
    height: 200px;
    width: 50px;
    border-top-left-radius: 20px; /* 按鈕左上加圓角 */
    border-bottom-left-radius: 20px; /* 按鈕左下加圓角 */
 }
 .button1:hover{
  background-color:			#75FFFF;
  color: rgb(28, 104, 245);
}

 .button2{
    background: #D8D8EB;
    border: none;
    cursor: pointer;
    transition: all .2s linear;
    margin: 0px 0px ;
 }
 .button2 > p{
  position: relative;
  z-index: 1;
}
.button2:before{
  content: "sign in ";
  width: 60px;
  height: 20px;
  display: block;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .2s ease;
}
.button2:hover{
  width: 60px;
  height: 20px;
  color: #000000;
}
.shape-ex3:hover::before{
  width: 100%;
}



 .button3{
    background-color: greenyellow;
    border-color: rgb(255, 252, 47);
    height: 200px;
    width: 50px;
    margin: 170px 0px 0px 40px;
    cursor: pointer;
    transition: all .1s linear;
    position:absolute; z-index: 5;
    border-top-left-radius: 20px; /* 按鈕左上加圓角 */
    border-bottom-left-radius: 20px; /* 按鈕左下加圓角 */
  }
  .button3:hover{
    background-color:			#D4FF94;
    color: #7ACC00;
  }
  .every_day{
    background-color: whitesmoke; 
    padding: 10px;
    border-color: none;
    border: none;

  }
  .calendar{    
    margin: 200px;
  }
  
  .calendar_title{
    position:absolute;
  }